<%- include("header.ejs") %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Comments</h1>
                <% posts.forEach(post => { %>
                <% if(post.index % 2 == 0) { %>  
                
                <div class="comment mt-4 text-justify float-left">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4><%= post['author'] %></h4>
                    <span><%= post['date'] %></span>
                    <br>
                    <p><%= post['content'] %></p>
                    <form action="/delete/<%= post['id'] %>" method="POST">
                        <button type="submit">Delete Post</button>
                        <% console.log(post['id']) %>
                    </form>
                </div>
                <% } else { %>
                <div class="text-justify darker mt-4 float-right">
                    <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4><%= post['author'] %></h4>
                    <span><%= post['date'] %></span>
                    <br>
                    <p><%= post['content'] %></p>
                    <form action="/delete/<%= post['id'] %>" method="POST">
                        <button type="submit">Delete Post</button>
                        <% console.log(post['id']) %>
                    </form>
                </div>
                <% } %>
            <% }); %>
            </div>
            
        </div>
    </div>
</section>